---
import { SectionPage } from ".";
import { SOCIAL_URLS } from "../shared/shared-constants";

export interface Props {
  baseUrl: string;
}
const { baseUrl } = Astro.props;
const buttonStyling =   "bg-accent hover:opacity-70 hover:text-white hover:shadow hover:cursor-pointer transition-all text-primary font-medium flex item-center justify-center lg:justify-start lg:pl-[20%] space-x-6 p-4 text-xl px-8 w-full border-4 border-gray-200 rounded-4xl";
const iconStyling = "h-8";

  const linkedInIconUrl:string ="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3C!-- Icon from Carbon by IBM - undefined --%3E%3Cpath fill='currentColor' d='M26.2 4H5.8C4.8 4 4 4.8 4 5.7v20.5c0 .9.8 1.7 1.8 1.7h20.4c1 0 1.8-.8 1.8-1.7V5.7c0-.9-.8-1.7-1.8-1.7M11.1 24.4H7.6V13h3.5zm-1.7-13c-1.1 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1s-1 2.1-2.1 2.1m15.1 12.9H21v-5.6c0-1.3 0-3.1-1.9-3.1S17 17.1 17 18.5v5.7h-3.5V13h3.3v1.5h.1c.5-.9 1.7-1.9 3.4-1.9c3.6 0 4.3 2.4 4.3 5.5v6.2z'/%3E%3C/svg%3E";
const discordIconUrl:string = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3C!-- Icon from Carbon by IBM - undefined --%3E%3Cpath fill='currentColor' d='M25.7 7.1Q23 5.9 20 5.3h-.1c-.2.4-.5 1-.7 1.5c-2.2-.3-4.3-.3-6.4 0c-.2-.5-.5-1-.7-1.5H12q-3 .45-5.7 1.8C2.7 12.5 1.7 17.8 2.2 23v.1c2.4 1.8 4.7 2.8 7 3.5h.1c.5-.7 1-1.5 1.4-2.3v-.1c-.8-.3-1.5-.6-2.2-1c-.1 0-.1-.1 0-.1c.1-.1.3-.2.4-.3H9c4.6 2.1 9.5 2.1 14.1 0h.1c.1.1.3.2.4.3c.1 0 0 .1 0 .1c-.7.4-1.4.8-2.2 1c0 0-.1.1 0 .1c.4.8.9 1.6 1.4 2.3h.1c2.3-.7 4.6-1.8 7-3.5V23c.6-6-1-11.2-4.2-15.9M11.4 19.9c-1.4 0-2.5-1.3-2.5-2.8s1.1-2.8 2.5-2.8s2.5 1.3 2.5 2.8s-1.1 2.8-2.5 2.8m9.3 0c-1.4 0-2.5-1.3-2.5-2.8s1.1-2.8 2.5-2.8s2.5 1.3 2.5 2.8s-1.1 2.8-2.5 2.8'/%3E%3C/svg%3E";
const xIconUrl:string = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3C!-- Icon from Carbon by IBM - undefined --%3E%3Cpath fill='currentColor' d='M18.234 14.162L26.977 4h-2.072l-7.591 8.824L11.25 4H4.258l9.169 13.343L4.258 28H6.33l8.016-9.318L20.75 28h6.993zm-2.837 3.299l-.93-1.329L7.078 5.56h3.182l5.964 8.532l.93 1.329l7.753 11.09h-3.182z'/%3E%3C/svg%3E";
const verifiedIconUrl:string = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from ProIcons by ProCode - https://github.com/ProCode-Software/proicons/blob/main/LICENSE --%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M7.072 4.069a2.17 2.17 0 0 1 2.804-1.162l1.315.529c.52.208 1.099.208 1.618 0l1.315-.529a2.17 2.17 0 0 1 2.804 1.162l.556 1.303c.22.515.63.925 1.144 1.144l1.303.556a2.17 2.17 0 0 1 1.162 2.804l-.529 1.315a2.17 2.17 0 0 0 0 1.618l.529 1.315a2.17 2.17 0 0 1-1.162 2.804l-1.303.556a2.17 2.17 0 0 0-1.144 1.144l-.556 1.303a2.17 2.17 0 0 1-2.804 1.162l-1.315-.529a2.17 2.17 0 0 0-1.618 0l-1.315.529a2.17 2.17 0 0 1-2.804-1.162l-.556-1.303a2.17 2.17 0 0 0-1.144-1.144l-1.303-.556a2.17 2.17 0 0 1-1.162-2.804l.529-1.315a2.17 2.17 0 0 0 0-1.618l-.529-1.315A2.17 2.17 0 0 1 4.07 7.072l1.303-.556a2.17 2.17 0 0 0 1.144-1.144z'/%3E%3Cpath d='m15.899 9.5l-5 5l-2.797-2.793'/%3E%3C/g%3E%3C/svg%3E";

---

<section id="contact" class="p-8">
  <SectionPage>
    <p class="text-4xl lg:text-6xl font-display font-bold">Contact</p>
    <p class="text-2xl font-display font-medium opacity-50">
      It&apos;s time to turn ideas into reality
    </p>
    <div class="mb-12"></div>
    <div class="grid grid-cols-1 lg:grid-cols-2 space-y-8">
      <div class="flex justify-center items-center">
        <div>
          <div class="p-2 bg-white rounded-t-4xl lg:h-[80vh] overflow-y-clip">
            <img
              src={baseUrl + "/contact-phone.png"}
              alt="contact phone image"
              class="w-full lg:w-[24vw] rounded-t-3xl object-contain"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-6 md:space-y-8 md:p-16">
        <a href={SOCIAL_URLS.twitter} target="_blank">
          <button type="button" class={buttonStyling}>
            <img
              src={xIconUrl} class={iconStyling}
            />
            <p>message me on X(Twitter)</p>
          </button>
        </a>
        <a
          href={SOCIAL_URLS.linkedIn}
          target="_blank"
        >
          <button type="button" class={buttonStyling}>
            <img
              src={linkedInIconUrl} class={iconStyling}
            />
            <p>Let&apos;s connect on LinkedIn</p>
          </button>
        </a>
        <a href={SOCIAL_URLS.discord} target="_blank">
          <button type="button" class={buttonStyling}>
            <img
              src={discordIconUrl}
              class={iconStyling}
              alt="discord icon"
            />
            <p>Find me on Discord</p>
          </button>
        </a>
      </div>
    </div>
  </SectionPage>
</section>
