---
import { SectionPage, ProjectCard, Button } from ".";
import { getCollection, getEntry } from "astro:content";
import { SOCIAL_URLS } from "../shared/shared-constants";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allProjects = await getCollection("projects");

export interface Props {
  baseUrl: string;
}
const { baseUrl } = Astro.props;
---

<section id="projects" class="p-8">
  <SectionPage>
    <p class="text-4xl lg:text-6xl font-display font-bold">Projects</p>
    <p class="text-2xl font-display font-medium opacity-50">Stuff i&apos;ve made that works</p>
    <div class="mb-12"></div>
    <div class="relative z-10 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mb-12">
      {
        allProjects.map((project) => (
          <ProjectCard
            title={project.data.title}
            description={project.data.description}
            openLink={project.data.openUrl}
            moreLink={baseUrl+project.data.moreUrl}
            imageUrl={project.data.bannerUrl}
          />
        ))
      }
    </div>
    <Button title="Github reposiories" linkUrl={SOCIAL_URLS.githubRepositories} target="blank" border={true}  />

  </SectionPage>
</section>
